/out
/.idea
/target
/src/main/webapp/admin
/src/main/webapp/assets
/src/main/webapp/css
/src/main/webapp/csss
/src/main/webapp/fonts
/src/main/webapp/image
/src/main/webapp/images
/src/main/webapp/imagess
/src/main/webapp/Javascript
/src/main/webapp/js
/src/main/webapp/META-INF
/src/main/webapp/moban
/src/main/webapp/shopimage
/src/main/webapp/style
/src/main/webapp/web
/src/main/webapp/WEB-INF/lib